/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    scroll-behavior: smooth;
    @apply antialiased;
  }

  body {
    @apply text-gray-800 font-sans bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  ::selection {
    @apply bg-primary/20 text-dark;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary/50 rounded-full hover:bg-primary transition-colors;
}
